[Desktop Entry]
Name=D-Bus analyzer
Name[ast]=Analizador D-Bus
Name[bg]=Анализиране на D-Bus
Name[bs]=D-Bus analizator
Name[ca]=Analitzador de D-Bus
Name[ca@valencia]=Analitzador de D-Bus
Name[cs]=Analyzátor D-Busu
Name[de]=D-Bus-Analyse
Name[en_GB]=D-Bus analyzer
Name[es]=Analizador de D-Bus
Name[hu]=D-Bus elemző
Name[it]=Analizzatore D-Bus
Name[ko]=DBus 분석기
Name[nl]=D-Bus-analyzer
Name[pl]=Analizator D-Bus
Name[pt]=Analisador do D-Bus
Name[pt_BR]=Analisador D-Bus
Name[sk]=D-Bus analyzátor
Name[sv]=D-bus analysator
Name[uk]=Аналізатор D-Bus
Name[x-test]=xxD-Bus analyzerxx
Name[zh_CN]=D-Bus 分析器
X-KDE-ServiceTypes=KParts/ReadOnlyPart
# ,KParts/ReadWritePart
X-KDE-Library=dferanalyzerpart
Type=Service
